/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 26, 2015, 12:04:46 PM
    Author     : Brody
*/

/*Font*/
body{
    background-color: beige;
}

.login_form, .nav_menu{
    font-family: Fredericka the Great;
}

.login_form{
    display: block;
    font-size: large;
    width:500px;
    text-align: center;
    background-color: goldenrod;
    border-radius: 10px;
    border: 1px solid black;
    padding:10px;
    margin-left: auto;
    margin-right: auto;
    margin-top:200px;
    box-shadow: 10px 10px 5px rgba(0,0,0,.5);
}

.login_form input{
    margin: 5px;
}

.login_form img{
    float: left;
    height: 90px;
}

.lightbulb, .doorlock{
    border: thin solid black;
    margin: 10px;
    box-shadow: 5px 5px 3px #888888;
    position: relative;
    height: 120px;
    border-radius: 5px;
    line-height: 120px;
    padding-left: 40px;
    text-align: left;
    cursor: pointer;
}

.lightbulb img, .doorlock img{
    position: absolute;
    top:10px;
    right:20px;
}

img.settingsToggle{
    right:100px;
}

.button_img{
    position: absolute;
    top:10px;
    right:10px;
    font-size: 100px;
}

[id^='settings']{
    position: absolute;
    z-index: 1;
    border: thin solid blue;
    border-radius: 10px;
    background-color: cornflowerblue;
    padding: 20px;
    top: 110%;
    right: 10px;
    text-align: center;
    line-height: normal;
}

.dimmer{
    line-height: normal;
    width:150px;
    margin: auto;
}

.dimmer label{
    display: block;
}

.dimmer span:nth-of-type(2){
    margin: 0px 20%;
}

.colorChanger{
    line-height: normal;
}

.colorChanger input{
    display: block;
    margin: auto;
}

body{
    text-align: center;
    margin: 10px 50px;
    font-size: xx-large;
}

.header{
    background-color: lightgrey
}

.header h3{
    display: inline-block;
}
.header sup{
    font-size: medium;
}

.header img{
    width: 100px;
    height: 100px;
    position: absolute;
    left:10px;
    border: solid medium black;
    cursor: pointer;
}

.audio{
    position: absolute;
    bottom:10px;
    z-index: 1;
}

*#add_light{
    cursor: pointer;
    background: skyblue;
    border: medium solid navy;
    border-radius: 10px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding:10px 20px;
    margin-top: 20px;
    
}

*#add_form{
    background: lightpink;
    border: medium solid crimson;
    border-radius: 10px;
    padding:10px 20px;
    margin: 10px;
    display: none;
}

*#add_form hr{
    border-color: crimson;
}

.popup{
    background: lightgreen;
    border: medium solid darkgreen;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    position: absolute;
    box-shadow: 5px 5px 3px #888888;
    cursor: pointer;
}

.lightButton[data-status='in group']{
    background-color: green;
}

.lightButton[data-status='not in group']{
    background-color: salmon;
}

div[id ^= 'unreachable_']{
    position: fixed;
    top: 10vh;
    margin:5vw;
    background-color: salmon;
    padding: 30px;
    border: medium solid darkred;
    border-radius: 10px;
}

div[id ^= 'unreachable_'] .close{
    position: absolute;
    background: darkred;
    color: white;
    padding: 0px 5px;
    top: 0px;
    right: 0px;
    text-align: center;
    vertical-align: middle;
    cursor:pointer;
}